
@import "./colors.less";
@import "./base.less";
.main{
	.fancybar{
		position         : absolute;
		top              : 0px;
		left             : 0px;
		height           : 3px;
		width            : 100%;
		background-color : @thalmicBlue;
	}
}